<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;ADMINISTRAVIE SYSTEM</div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui medium header">User List</div>
            <div class="ui list">
                <% if(unapprovedList.length > 0){ %>
                    <ul>
                        <% for(var i=0; i < unapprovedList.length; i++) {%>
                            <div class="item">
                                <%= unapprovedList[i]['username'] %>
                            </div>
                            <% } %>
                    </ul>
                    <% } else{ %>
                        <div class="ui medium header">No pending users to approve.</div>
                        <% } %>
            </div>
            <form action="/users/admin/batch">
                <button style="background-color: orange; color: white" class="ui button" type=submit>Register</button>
            </form>
        </div>
    </div>
</body>

</html>