<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>User List</h1>
    </div>
    <div>
        <% if(unapprovedList.length > 0){ %>
            <div>
                <ul>
                  <% for(var i=0; i < unapprovedList.length; i++) {%>
                    <li>
                      <%= unapprovedList[i]['username'] %>
                    </li>
                  <% } %>
                </ul>
            </div>
            <% } else{ %>
                <div>No pending users to approve.</div>
                <% } %>
    </div>
    <a href="/users/admin/batch">Batch Approve</a>
</body>

</html>


