<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div>
        <h1>User List</h1>
    </div>
    <div>
        <% if(unapprovedList.length > 0){ %>
            <div>
                <%= unapprovedList %>
            </div>
            <% } else{ %>
                <div>No pending users to approve.</div>
                <% } %>
    </div>
    <a href="/users/admin/batch">Batch Approve</a>
</body>

</html>
