<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div>
        <h1>Courses Available For Enrollment</h1>
    </div>
    <div>
        <% if(eList.length > 0){ %>
            <ul>
                <% for(var i=0; i < eList.length; i++) {%>
                    <li>
                        <%= eList[i]['area'] %>
                            <%= eList[i]['code'] %>
                    </li>
                    <% } %>
            </ul>
            <% } else{ %>
                <div>No courses to enroll in.</div>
                <% } %>
    </div>
    <a href="/enrollment/">Back to Landing Page</a>
</body>

</html>
