<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .square {
            color: black;
            border-style: solid;
            border-width: 5px;
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 5px;
            list-style-type: none;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;USER CALENDAR</div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column ten wide">
            <div class="ui medium header">&ensp;Course Times</div>
            <div class="ui segment">
                <div class="ui bulleted list">
                    <% if(calendarList.length > 0){ %>
                        <ul>
                            <% for(var i=0; i < calendarList.length; i++) { %>
                                <div class="item">
                                    <div class="ui medium header">
                                        <%= calendarList[i]['course_id'] %>
                                    </div>
                                    <% var time_of_course  = ' ' %>
                                        <% for(var j = 0; j < calendarList[i]['times'].length; j++) { %>
                                            <% if(calendarList[i]['times'].charAt(j) == ';') { %>
                                                <div class="item">
                                                    <%= time_of_course %>
                                                </div>
                                                <% time_of_course  = ' ' %>

                                                    <% } else{ %>
                                                        <% time_of_course = time_of_course + calendarList[i]['times'].charAt(j) %>
                                                            <% } %>
                                                                <% } %>
                                                                    <div class="item">
                                                                        <%= time_of_course %>
                                                                    </div>
                                </div>

                                <br>
                                <% } %>
                        </ul>
                        <% } else{ %>
                            <div class="ui small header">You are not enrolled in any classes.</div>
                            <% } %>
                </div>
            </div>
            <form action="/users/profile">
                <button style="background-color:#FFD700; color: black" class="ui button" type=submit>Back To Profile</button>
            </form>

        </div>
    </div>
</body>

</html>