<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div>
        <h1>Course Times</h1>
    </div>
    <div>
        <% if(calendarList.length > 0){ %>
                <% for(var i=0; i < calendarList.length; i++) { %>
                   <%= calendarList[i]['area'] %><%= calendarList[i]['code'] %>
                   <% var time_of_course  = ' ' %>
                   <br>
                <ul>
                <% for(var j = 0; j < calendarList[i]['times'].length; j++) { %>
                   <% if(calendarList[i]['times'].charAt(j) == ';') { %>
                    <li><%= time_of_course %></li>
                    <% time_of_course  = ' ' %>
                    <br>
                  <% } else{ %>
                  <% time_of_course = time_of_course + calendarList[i]['times'].charAt(j) %>
                  <% } %>
                <% } %>
                <li><%= time_of_course %></li>
                </ul>
                <br>
        <% } } else{ %>
            <div>You are not enrolled in any classes.</div>
        <% } %>
    </div>
</body>

</html>
