<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>Times of All Coures [PLACEHOLDER UNTIL WE GET A USER]</h1>
    </div>
    <div>
        <% if(courseList.length > 0){ %>
            <ul>
                <% for(var i=0; i < courseList.length; i++) {%>
                   <li><%= courseList[i]['area'] %><%= courseList[i]['code'] %></li>
                <% } %>
            </ul>
        <% } else{ %>
            <div>Empty list.</div>
        <% } %>
    </div>
</body>

</html>
