<!DOCTYPE html>
<html>

<head></head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;ENROLLMENT SITE</div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui medium header">User List</div>Available courses to enroll into:</div>
        <div class="ui list">
            <% if(courseList.length > 0){ %>
                <ul>
                    <% for(var i=0; i < courseList.length; i++) {%>
                        <div class="item">
                            <%= courseList[i]['course_id'] %>
                        </div>
                        <% } %>
                </ul>
                <% } else{ %>
                    <div style="color: red" class=" ui medium header ">User List</div>No courses available.</div>
        <% } %>
    </div>
    </div>
    </div>
</body>

</html>