<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>

    <h1>Course Enrollment</h1>
    <h2>Select the course you want to enroll in</h2>


    <form action="/enrollment/enroll" method="POST">
        <label for=" enrollment/enroll ">Choose a course area:</label>
        <select class="area " id="course-area ">
            <% for(var i=0; i < alist.length; i++) { %>
            <option><%= alist[i]['area'] %></option>
            <% } %>
        </select>
        <select class="code " id="course-code ">
            <% for(var i=0; i < clist.length; i++) { %>
            <option><%= clist[i]['code'] %></option>
            <% } %>
        </select>
        <input type="submit" value="Submit">
    </form>

    <div></div>
    <a href="/enrollment/ ">Back to Landing Page</a>
</body>

</html>
