<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>ENROLLMENT LANDING PAGE</h1>
    </div>
    <div>
        Landing page to check enrollment backend progress.
    </div>
    <a href="/enrollment/list">Check all available courses.</a>
    <div></div>
    <a href="/enrollment/enroll">Enroll in courses.</a>
</body>

</html>