<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div>
        <h1>ENROLLMENT LANDING PAGE</h1>
    </div>
    <div>
        Landing page to check enrollment backend progress.
    </div>
    <p><a class="ui inverted red button" href="/enrollment/list">Check all available courses.</a></p>
    <p><a class="ui inverted red button" href="/enrollment/enroll">Enroll in courses.</a></p>
</body>

</html>
