<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>ENROLLMENT LANDING PAGE</h1>
    </div>
    <div>
        Tester page to check enrollment channel.
    </div>
    <a href="/enrollment/list">Check all available courses.</a>
</body>

</html>