<header>
    <div class="ui secondary  menu">
        <% if(type === 1) { %>
            <a class="active item" href="/users/admin">Admin Console</a>
            <% } %>
                <a class="active item" href="/calendar">Calendar</a>
                <a class="item" href="/enrollment/list">All Courses</a>
                <a class="item" href="/planner/">Course Tree</a>
                <a class="item" href="/enrollment">Enrollment</a>
                <div class="right menu">
                    <a href="/users/logout" class="ui item">Logout</a>
                    <a href="/users/pchange" class="ui item">Change Password</a>
                </div>
    </div>
</header>