<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <p>username</p>
    <p>Date of registration: 01/01/2011</p>

    <p>Total credits: 100</p>

    <a>Admin Console</a>
    <a>Calendar</a>
    <a>All Courses</a>
    <a>Planner</a>
    <!--
        Links:
        Admin console (if admin)
        Calendar
        All courses 
        Planner (prereq tree, enrollmenty)


    -->


    <!--
        Semester Year-sem
        Course A: subject area, code, GPA, credits
    -->
    

</body>

</html>