<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link type="text/css" href="css/login.css" rel="stylesheet">
</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;LOGIN</div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <form id="login" method="POST" action="/users/login" class="ui form">
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" required />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" required />
                </div>
                <button class="ui primary button" type="submit">Submit</button>
            </form>
            <div class="ui hidden divider"></div>
            <form action="/users/new">
                <button style="background-color:#FFD700; color: black" class="ui button" type=submit>Register</button>
            </form>
        </div>
        <div class="ui hidden divider"></div>

        <% if (hasMessages) { %>
            <div class="ui bottom attached warning message">
                <% messages.forEach(function(message) { %>
                    <i class="icon help"></i>
                    <p>
                        <%= message %>
                    </p>
                    <% }); %>
            </div>
            <% } %>

    </div>

</body>

</html>