<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;PASSWORD CHANGE</div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <form id="pchange" method="POST" action="/users/pchange" class="ui form">
                <div class="field">
                    <label for="password">New Password</label>
                    <input type="password" name="password" required />
                </div>
                <button class="ui primary button" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</body>

</html>