<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form id="pchange" method="POST" action="/users/pchange">
            <label for="password">New Password</label>
            <input type="password" name="password" required />
            <input type="submit" value="Change Password" />
        </form>
    </body>
</html>