<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form id="reset" method="POST" action="/users/reset">
            <label for="username">Username</label>
            <input type="text" name="username" required />
            <label for="password">New Password</label>
            <input type="password" name="password" required />
            <label for="email">Email</label>
            <input type="email" name="email" required />
            <input type="submit" value="Reset Password" />
        </form>
    </body>
</html>