<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div class="ui sizer vertical segment">
        <div class="ui huge header">&ensp;USER HOME</div>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui list">
                <% if(accList.length > 0){ %>
                    <ul>
                        <% for(var i=0; i < accList.length; i++) {%>
                            <div class="item">
                                <%= accList[i]['username'] %>
                            </div>
                            <% } %>
                    </ul>
                    <% } else{ %>
                        <div class="ui medium header">User List</div>Empty list.</div>
            <% } %>
        </div>
        <form action="/users/profile">
            <button class="ui button" style="background-color:black; color: white" type=submit>Dashboard</button>
        </form>
        <div class="ui hidden divider"></div>
        <form action="/users/login">
            <button class="ui button" style="background-color:blue; color:white" type=submit>Login</button>
        </form>
        <div class="ui hidden divider"></div>
        <form action="/users/new">
            <button class="ui button" style="background-color:yellow; color:black" type=submit>Create Account</button>
        </form>
        <div class="ui hidden divider"></div>
        <form action="/enrollment">
            <button class="ui button" style="background-color:red; color: white" type=submit>Enroll</button>
        </form>
    </div>
    </div>

</body>

</html>