<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>User List</h1>
    </div>
    <div>
        <% if(accList.length > 0){ %>
            <ul>
                <% for(var i=0; i < accList.length; i++) {%>
                    <li>
                        <%= accList[i]['username'] %>
                    </li>
                    <% } %>
            </ul>
            <% } else{ %>
                <div>Empty list.</div>
                <% } %>
    </div>
    <a href="/users/new">Sign Up</a>
    <div></div>
    <a href="/enrollment">Enroll</a>

</body>

</html>